@tailwind base;
@tailwind components;
@tailwind utilities;

.coverinner video {
  @apply object-cover;
}

@layer base {
  @font-face {
    font-family: "circe";
    src: url("/circe/circe300.woff2") format("woff2"), url("/circe/circe300.woff") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
  }

  @font-face {
    font-family: "circe";
    src: url("/circe/circe400.woff2") format("woff2"), url("/circe/circe400.woff") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
  }

  @font-face {
    font-family: "circe";
    src: url("/circe/circe700.woff2") format("woff2"), url("/circe/circe700.woff") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
  }

  @font-face {
    font-family: "circe";
    src: url("/circe/circe800.woff2") format("woff2"), url("/circe/circe800.woff") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
  }
}
